*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f1f3f6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.cart-container{
    width:450px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.cart-container h1{
    color:#2874f0;
    margin-bottom:20px;
}

.cart-container p{
    color:#555;
    font-size:18px;
    margin-bottom:25px;
}

.shop-btn{
    display:inline-block;
    background:#2874f0;
    color:#fff;
    text-decoration:none;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
    transition:0.3s;
}

.shop-btn:hover{
    background:#0b5ed7;
}